*
{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.text-container{
    padding: 1rem;

}